{% extends 'main.html' %}

{% block content %}

    <div class="col-md-offset-1">
        {% if username %}
            <h2 ><a href="{% url 'chess:addCompetition' %}">Начать соревнование</a></h2>
        {% else %}
            <button type="button" class="btn btn-link btn-lg"><a href="{% url 'chess:addCompetition' %}">Список доступных соревнований</a></button>
        {% endif %}
    </div>

    <div class="col-md-offset-1 col-md-10 jumbotron">

        <p class="text">Швейцарская система — система проведения спортивных турниров. Особенно распространена в интеллектуальных играх,
            таких как шахматы, шашки, сёги, го, рэндзю и им подобных. Впервые была применена на шахматном турнире в Цюрихе
            (Швейцария) в 1895 году, откуда и получила своё название. Характерна тем, что турнир проходит без выбывания и
            позволяет для определения победителей обойтись небольшим числом туров при большом числе участников.</p>

        <p><strong class="super">Порядок проведения турнира.</strong></p>
        <p class="rules">
            В первом туре все игроки упорядочиваются (случайным жребием, или по рейтингу). Пары составляются по принципу:
            первый из верхней половины таблицы с первым из нижней половины, второй – со вторым, и так далее.
            Если, например, в турнире 40 участников, то первый играет с 21-м, второй с 22-м и т. д.
            При нечётном числе игроков игрок, имеющий последний номер, получает очко без игры.</p>
        <p class="rules">
            В следующих турах все игроки разбиваются на группы с одинаковым количеством набранных очков.
            Так, после первого тура групп будет три: выигравшие, проигравшие и сыгравшие вничью.
            Если в группе оказывается нечётное количество игроков, то один игрок переводится в следующую очковую группу.</p>
        <p class="rules">
            Пары игроков для следующего тура составляются из одной очковой группы по тому же, что и в первом туре, рейтинговому
            принципу (лучший игрок из верхней половины группы по возможности встречается с лучшим игроком из нижней половины
            этой группы). При этом, однако, не допускается, чтобы одна и та же пара играла в турнире более одной игры.
            При игре в шахматы или шашки, кроме того, действует правило чередования цвета: желательно, чтобы у каждого
            участника от тура к туру чередовался цвет фигур (чтобы игрок имел равное количество игр белыми и чёрными),
            в любом случае не допускается три партии подряд (в шашках — четыре) одним цветом, кроме последнего тура.
            При нечётном числе игроков игрок, имеющий последний номер в последней очковой группе (из ещё не получавших очко
            за пропуск), получает очко без игры.</p>
        <p class="rules">
            Места в турнире распределяются по набранному количеству очков.</p>
        <p class="rules">
            Участники, набравшие равное количество очков, обычно распределяются по коэффициенту Бухгольца, который определяется
            как сумма очков, набранных всеми соперниками данного игрока в турнире. Кроме него (или вместе с ним) может
            применяться средний рейтинг соперников (тому, у кого соперники имеют более высокий средний рейтинг, присуждается
            более высокое итоговое место) или так называемый «коэффициент прогресса» — более высокое место получает игрок,
            который по ходу турнира дольше находился на более высоком месте, чем набравший равное число очков соперник).</p>
    </div>
    <script>$("p").dblclick(function () {
        $("#div1").fadeIn();
            });
    </script>
{% endblock %}